<h2>Methods that were not run</h2><table>
<tr><td>com.customer_app.qa.testcases.VacationsPageTest.adding<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>To validate and deleting the vacations </i></td></tr>
<tr><td>com.customer_app.qa.testcases.VacationsPageTest.addingVacations1<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>To validate and add vacations with select start date and end date </i></td></tr>
<tr><td>com.customer_app.qa.testcases.VacationsPageTest.addingVacations<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>To validate and add vacations with select start date only and keeping end date optional </i></td></tr>
<tr><td>com.customer_app.qa.testcases.VacationsPageTest.deletingVacations<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>To validate and deleting the vacations </i></td></tr>
<tr><td>com.customer_app.qa.testcases.VacationsPageTest.plusIconButton<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>to validate clicking on plus icon Button </i></td></tr>
<tr><td>com.customer_app.qa.testcases.VacationsPageTest.deletingVacations1<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>To validate and deleting the vacations </i></td></tr>
</table>