<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Country Delight Customer App Test Automation Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c28daf">  <td>20/12/04 09:44:08</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VacationsPageTest.setUp()[pri:0, instance:com.customer_app.qa.testcases.VacationsPageTest@2237bada]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@58421994</td>   <td></td> </tr>
<tr bgcolor="c28daf">  <td>20/12/04 09:44:27</td>   <td>18912</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VacationsPageTest.addVacationsButton()[pri:0, instance:com.customer_app.qa.testcases.VacationsPageTest@2237bada]">addVacationsButton</td> 
  <td>main@58421994</td>   <td></td> </tr>
<tr bgcolor="c28daf">  <td>20/12/04 09:44:51</td>   <td>42925</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VacationsPageTest.End()[pri:0, instance:com.customer_app.qa.testcases.VacationsPageTest@2237bada]">&lt;&lt;End</td> 
<td>&nbsp;</td>  <td>main@58421994</td>   <td></td> </tr>
</table>
