<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.customer_app.qa.testcases.VacationsPageTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addVacationsButton</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addingVacations</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addingVacations1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deletingVacations</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>adding</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deletingVacations1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>plusIconButton</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>End</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
