<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9d6167">  <td>21/11/02 15:48:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VacationsPageTest.End()[pri:0, instance:com.customer_app.qa.testcases.VacationsPageTest@1e34c607]">&lt;&lt;End</td> 
<td>&nbsp;</td>  <td>main@529949842</td>   <td></td> </tr>
<tr bgcolor="9d6167">  <td>21/11/02 15:48:27</td>   <td>-16061</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VacationsPageTest.addVacationsButton()[pri:0, instance:com.customer_app.qa.testcases.VacationsPageTest@1e34c607]">addVacationsButton</td> 
  <td>main@529949842</td>   <td></td> </tr>
<tr bgcolor="9d6167">  <td>21/11/02 15:47:56</td>   <td>-47469</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VacationsPageTest.setUp()[pri:0, instance:com.customer_app.qa.testcases.VacationsPageTest@1e34c607]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@529949842</td>   <td></td> </tr>
</table>
